/* Basic styling */
/*-----------------------------------------------------*/

body {

  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "side-bar  list-area"
    "footer  footer";
  grid-template-rows: 64px 1fr 64px;
  grid-template-columns: 550px calc(100% - 500px - 50px);
  background-color: #091317;

}

/* Title And Navigation(?) Styling */
#title {

  margin: 0;
  /* font-size: 475%;
  color: #ffffff; */
  height: 25px;

  
}

#logo {

  margin: 0;
  margin-left: 35px;
  margin-right: 10px;
  width: 42px;
  height: 42px;
}

.header {

  grid-area: header;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: left;
  align-items: center;


  width: 100%;
  border-bottom: 3px solid #2dd54d;

}

/* Side Bar Styling */

.sideBar {

  grid-area: side-bar;
  background-color: #26833c;
  margin: 35px;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  border-color: #2dd54d;

  display: grid;
  grid-template-areas:
    "listTitle"
    "listNotes"
    "listActions";
  grid-template-rows: 150px 1fr 70px;
  grid-template-columns: 1fr;

}

#listTitle {

  grid-area: listTitle;
  background-color: #d7e6d4;
  margin: 35px;
  margin-bottom: 20px;

}

#listNotes {

  grid-area: listNotes;
  background-color: #091317;
  margin: 35px;
  margin-top: 0px;
  margin-bottom: 0px;

}

#listNotes p {

  color: #d7e6d4;

}

#listActions {

  grid-area: listActions;
  /* background-color: #d7e6d4; */
  margin: 35px;
  margin-bottom: 10px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 10px;

}

.listAction {

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-width: 0px;
  
}


/* List Styling */

.listContainer {

  grid-area: list-area;
  overflow: auto;
  background-color: #21212C;
  margin-right: 35px;

}

ul {

  margin: 0;
  width: auto;
  font-size: 24px;
  color: #ffffff;
  padding: 15px 15px 15px 15px;

}

li {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0px 20px 0px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-wrap: anywhere;
  background-color: #16161F;

}

.liMainContent {

  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;


}

.checkBox {

  width: 2em;
  height: 2em;
  background-color: #ff000000;

}

p {

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;

}

.listOptions {

  grid-row: 3;
  grid-column: 2;

}

/* Delete Button Styling */

button.deleteBtn {

  background-color: #ffffff00;
  border-radius: 20em;
  border-color: #ff0000;
  border-style: outset;  
  height: 3em;
  width: 3em;

}

button.deleteBtn:hover {
  
  background-color: #ff4747;
  border-radius: 20em;
  transition: 0.1s;

}

button.deleteBtn:active {

  background-color: #ff0000;
  border-radius: 20em;
  border-color: #ffffff;
  transition: 0.1s;

}


/* Extras */

* {
  font-family: 'Franklin Gothic Medium',
               'Arial Narrow', Arial, sans-serif;

  /*for debugging*/             
  /*border: 1px solid red;*/
  /* outline: auto; */
}

/* @media (max-width: 30em) {
  * {
    color: #c73030
  }
} */



